/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.middle-list{
    text-decoration: none;
    list-style: none;
    margin-bottom: 0px;

}

.opening{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 57px;
    padding-right: 57px;
    color: white;

}

.middle-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 19px;
    font-size: 19.45px;
    margin-bottom: 0px;
}

.top-top{
    display: flex;
    position: relative;
    margin-bottom: 35px;
    justify-content: center;
    font-size: 33.26px;
    
}


.top-right{
    font-size: 19.45px;
}
.icons{
    gap: 30px;
}
.fa-brands{
    gap: 30px;
}

.icons{
    display: flex;
    align-items: center;
}
.top-button{
  background-color: #c2c8cc;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
  margin-left: 10px;
  border: 0ch;
}

.writing-top{
  display: flex;
  color: white;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 54px;
  padding-left: 388px;
  padding-right: 388px;
  align-items: center;

}

.under-image{
  color: white;
}


.middle-under-tittle{
  display: flex;
  font-size: 47px;
  padding-top: 147px;
  padding-left: 333px;
  padding-right: 333px;
  flex-direction: column;
  align-items: center
  
}

.all-three{
  display: flex;
  flex-direction: row;
  color: white;
  padding-top: 50px;
  border-bottom: 10px;
  border-color: white;


}

.COACHING{
  flex: 483px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  align-items: center

}



.online-lessons{
  flex: 416px;
  flex: 483px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  align-items: center


}

.live-events{
  flex: 483px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  align-items: center

}

.one {
  height: 2px;
  margin: 50px;
  background: white;
}